body
{
    margin: 0; /* margin and padding only necessary to cater for Mac IE5 */
    padding: 0;
    /*\*/   overflow: hidden; /* because Mac IE5 don't understand */
}

div
{
    margin: 0;
    padding: 0;
}

#content
{
    /*\*/
    position: absolute;
    top:      5px;
    right:    5px;
    bottom:   5px;
    left:     200px;
    /* Exclude all previous props for Mac IE5 */
    margin:   5px 5px 5px 200px; /* Cater for Mac IE5 */
    /*\*/ margin: 0; /* Put back for all the rest */
    /*\*/ overflow: auto; /* no need for Mac IE5 to see this */
}

#siteList
{
    position: absolute;
    top:      5;
    bottom:   5;
    left:     5;
    width:    190px;
    overflow: auto;
}

div.statusMessage
{
    overflow: auto;
}

div.contentItem
{
    width:   600px;
    padding: 20px;
}

div.padded
{
    padding: 5px;
}

span.tag
{
    padding:               5px;
    -moz-border-radius:    10px; /* Mozilla */
    -webkit-border-radius: 10px; /* Webkit */
    border-radius:         10px;
    border:                1px solid;
}

div#controlPanel
{
    /*\*/
    position:   absolute;
    height:     200px;
    bottom:     20px;
    left:       210px;
    right:      30px;
    overflow:   auto;
}

a.hide
{
    display:    block;
    float:      right;
    width:      32px;
    height:     32px;
}
