
/* Style for Usual tabs */
.tab 
{
    background:#181818;
    color:#111;
    padding:15px 20px;
    border:1px solid #222;
    margin:8px auto;
}
.tab li
{
    list-style:none;
    float:left;
}
.tab ul a 
{
    display:block;
    padding:6px 10px;
    text-decoration:none!important;
    margin:1px;
    margin-left:0;
    color:#FFF;
    background:#444;
}
.tab ul a:hover
{
    color:#FFF;
    background:#111;
}
.tab ul a.selected
{
    margin-bottom:0;
    color:#000;
    background:snow;
    border-bottom:1px solid snow;
    cursor:default;
}
.tab div
{
    padding:10px 10px 8px 10px;
    *padding-top:3px;
    *margin-top:-15px;
    clear:left;
    background:snow;
}
.tab div a
{
    color:#000;
    /*font-weight:bold;*/
}

form#addForm label
{
    float: left;
    width: 100px;
}
